<?xml version="1.0"?>
<model>
  <name>Plane</name>
  <version>1.0</version>
  <sdf version="1.4">plane_with_ros_plugins.sdf</sdf>

  <author>
   <name>Dirk Thomas</name>
   <email>dthomas@osrfoundation.org</email>
  </author>

  <description>
    This uses the existing model of a standard plane from the
    sitl_gazebo package and adds some Gazebo ROS plugins.
  </description>
</model>
